@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
}

h1 {
    font-weight: 400;
    line-height: 1.2;
}

p {
    font-size: 1.125rem;
}
